<footer class="footer">
  <div class="container">
    <p><a href="http://www.instructure.com" target="_blank">Instructure</a> &hearts; <a href="https://github.com/instructure/demo_arigato">open source</a></p>
  </div>
</footer>
